@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
    ViewData["Title"] = "404";
}

<!-- page content -->
<div class="col-md-12">
    <div class="col-middle">
        <div class="text-center text-center">
            <h1 class="error-number">404</h1>
            <h2>Descupa não conseguimos identificar essa pagina</h2>
            <p>
                Está pagina não existe
            </p>
        </div>
    </div>
</div>
<!-- /page content -->
